{% extends 'base.html' %}
{%block content %}
<div class="chat-container"></div>

<script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
<script type="text/javascript">
    var chatroom = new window.Chatroom({
    host: "http://localhost:5005",
    title: "Assistant",
    container: document.querySelector(".chat-container"),
    welcomeMessage: "I am a chatbot here to answer all your questions about Gonzaga. You can start by saying 'hi'.",
    speechRecognition: "en-US",
    voiceLang: "en-US"
    });
    chatroom.openChat();
</script>
{%endblock%}