{% load static %}
<header>
  <div class="container">
    <nav>
      <figure class="brand">
        <a href="https://gonzaga.edu/"
          ><img
            class="chatbot-logo"
            src="{%static 'images/correct_size_logo.png'%}"
            alt="chatbot logo"
        /></a>
        <h1 class="brand">
          <a href="http://127.0.0.1:8000/my_app/"><span>GU </span>CHAT</a>
        </h1>
      </figure>
      <ul>
        <li><a href="http://127.0.0.1:8000/my_app/about">About</a></li>
        <li><a href="http://127.0.0.1:8000/my_app/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
