{% load static %}
<header>
  <div class="container">
    <nav>
      <figure class="brand">
        <a href="https://gonzaga.edu/"
          ><img
            class="chatbot-logo"
            src="{%static 'images/correct_size_logo.png'%}"
            alt="chatbot logo"
        /></a>
        <h1 class="brand">
          <a href="https://gonzaga.edu/"><span>GU </span>CHAT</a>
        </h1>
      </figure>
      <ul>
        <li><a href="/contact">About</a></li>
        <li><a href="/about">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
